language: node_js
node_js:
  - "iojs"
  - "7"
  
  deploy:
  - provider: azure_web_apps
    slot: easv-uat
    on: develop
  - provider: azure_web_apps
    slot: easv-E2E
    on: release
  - provider: azure_web_apps
    on: master
